.about-us-hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    gap: 10rem;
    width: 80%;
    margin: 0 auto;
}

.about-us-left>img{
    width: 30vw;
}
.about-us-right{
    display: flex;
    flex-direction: column;
}
.about-us-right>h1{
    font-size: 40px;
}

.about-us-right>p{
    font-size: 17px;
    line-height: 2;
}

@media screen and (max-width: 486px){
    .about-us-hero{
        flex-direction: column;
        gap: 2rem;
    }
    .about-us-left>img{
        width: 60vw;
    }
    .about-us-right>h1{
        font-size: 1.5em;
    }
    .about-us-right>p{
        padding-right: 1em;
        text-align: center;
        font-size: 0.9em;
        line-height: 1.5;
    }
}
@media (min-width: 487px) and (max-width: 767px){
    .about-us-hero{
        gap: 3rem;
        align-items: center;
    }
    .about-us-left{
        margin-top: 15vh;
    }
    .about-us-left>img{
        width: 34vw;
    }
    .about-us-right>h1{
        text-align: center;
        font-size: 1.5em;
    }
    .about-us-right>p{
        text-align: center;
        padding-right: 1em;
        font-size: 0.85em;
        line-height: 1.5;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .about-us-hero{
        gap: 3rem;
        padding: 2rem;
        align-items: center;
    }
    .about-us-left{
        margin-top: 5vh;
    }
    .about-us-left>img{
        width: 32vw;
    }
    .about-us-right>h1{
        text-align: center;
        font-size: 1.5em;
    }
    .about-us-right>p{
        text-align: center;
        font-size: 0.9em;
        line-height: 1.7;
    }
}
@media screen and (min-width: 993px) and (max-width: 1024px) {
    .about-us-hero{
        gap: 3rem;
        padding: 2rem;
        align-items: center;
    }
    .about-us-left{
        margin-top: 5vh;
    }
    .about-us-left>img{
        width: 30vw;
    }
    .about-us-right>h1{
        text-align: center;
        font-size: 1.7em;
    }
    .about-us-right>p{
        text-align: center;
        font-size: 1em;
        line-height: 1.7;
    }
}