.placement-programs-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.placement-background-image-container {
    background: url('../assets/Why\ student\ join\ us\ BG.png');
    object-fit: contain;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.placement-cards-container {
    width: 90vw;
    margin: 0 auto;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 2rem;
    margin-bottom: 3rem;
}

.program-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 4px 4px #939393;
    text-align: center;
    width: 20vw;
    height: 50vh;
}

.program-image-container {
    height: 50vh;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    /* padding: 3rem; */
}

.program-card-image {
    width: 12vw;

    object-fit: contain;
    
}

.program-card-details {
    flex: 2;
    background-color: #fff;
    text-align: left;
    padding: 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.rating-stars {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 1rem;
}

.rating-stars>span {
    color: #f7d74d;
}

.solid-star,
.half-star {
    color: #f7d74d;
}

.regular-star {
    color: #ccc;
}


.program-card-title {
    font-size: 19px;
    color: #000;
    font-weight: 600;
    margin: 0;
}

.guarantee-text {
    font-size: 12px;
    padding: 0.5rem;
    background-color: #fff0de;
    color: #ff9d46;
    font-weight: 600;
}

.program-card-buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.program-card-buttons>button {
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
}

.ellipsis-button-programCard{
    background-color: #fff !important;
    color: #000 !important;
}

.program-card-period {
    display: flex;
    flex-direction: row;
    text-align: left;
    gap: 1rem;
    margin-left: 1%;
}

.program-card-buttons>button {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.view-more-button {
    margin: 0 auto;
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    background-color: #000;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

@keyframes moveFromTopRight {
    0% {
      transform: translate(100%, -100%);
      opacity: 0;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  .move-from-top-right {
    animation: moveFromTopRight 0.5s ease-in-out;
  }
  


  /* For mobile view */
@media (max-width: 767px) {
    .placement-cards-container {
      grid-template-columns: 1fr; /* Display in a single column on mobile */
      margin-top: 1rem; /* Adjust margin for spacing */
    }
    .program-card-image {
        width: 62vw;
        object-fit: contain;
    }
  
    /* Adjust the width and height of .program-card for mobile */
    .program-card {
      width: 90vw;
      height: auto; /* Allow the height to adjust based on content */
    }
  }
  
  /* For tablet view */
  @media (min-width: 768px) and (max-width: 991px) {
    .placement-cards-container {
      grid-template-columns: repeat(2, 1fr); /* Display in 2 columns on tablets */
      margin-top: 3rem; /* Restore the original margin */
    }
  
    /* Restore the original width and height of .program-card for tablets */
    .program-card {
      width: 45vw; /* Adjust the width to fit 2 columns */
      height: 50vh;
    }
  }

  /* For landscape mode (horizontal orientation) on tablets */
@media (orientation: landscape) {
    .placement-cards-container {
      grid-template-columns: repeat(2, 1fr); /* Display in 3 columns in landscape mode */
      margin-top: 3rem; /* Adjust margin for spacing in landscape mode */
    }
    .program-card-image {
        width: 22vw;
        object-fit: contain;
    }
  
    /* Adjust the width and height of .program-card for landscape mode on tablets */
    .program-card {
      
      width: 100%; /* Take up the full width of the container */
    height: auto; /* Allow the height to adjust based on content */
    padding: 5px;
    }
  }
  
  @media (min-width: 992px) {
    .placement-cards-container {
      grid-template-columns: repeat(4, 1fr); /* Display in a grid on desktop */
      margin-top: 3rem; /* Restore the original margin */
    }
  
    /* Restore the original width and height of .program-card for desktop */
    .program-card {
      width: 20vw;
      height: 50vh;
    }
  }