.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 0 1rem;
  box-shadow: 0px 4px 4px #c8c8c8;
  text-align: center;
  width: 20vw;
  height: 47vh;
}

.image-container-p {
  flex: 1;
  position: relative;
  background-color: #ffe4cc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.card-image {
  width: 15vw;
  height: 18vh;
  object-fit: contain;
}

.icons-container{
  display: flex;
  flex-direction: column;
  width:3vw;
  gap: 0;
}

.card-details {
  flex: 1;
  background-color: #fff;
  text-align: left;
  padding: 1rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.card-details>p {
  font-size: 15px;
  color: #747474;
  margin: 0;
}

.card-main-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  margin-bottom: 1rem;
}

.course-card-title {
  font-size: 1.2em;
  font-weight: 700;
  margin: 0;
  margin-top: 1rem;
}

.course-card-field{
  font-size: 14px;
  margin: 0;
}

.count-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.star-count {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.star-count>p {
  font-size: 18px;
  font-weight: 500;
}

.count-details>p {
  font-size: 16px;
  font-weight: 500;
}

.gray-dash {
  color: #d7d7d7;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.knowMore-button {
  padding: 0.5rem 0.7rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 20px;
}

.ellipsis-icon {
  font-size: 30px;
}


@media screen and (max-width: 487px){
  .card {
    display: flex;
    flex-direction: column;
    margin: 0 2.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #c8c8c8;
    text-align: center;
    width: 65vw;
    height: 45vh;
  }
  .card-image {
    width: 40vw;
    object-fit: contain;
  }
  .course-card-title, .star-count{
    font-size: 1.1em;
  }
  .count-details>p, .star-count>p{
    font-size: 0.7em;
    font-weight: 800;
  }
  .knowMore-button {
    padding: 0.5rem 0.7rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
  }
}
/* @media (min-width: 488px) and (max-width: 786px){
  .card {
    height: 80vh;
  }
  .card-image {
    height: 30vh;
    width: 30vw;
    object-fit: contain;
  }
  .course-card-title, .star-count{
    font-size: 1.1em;
  }
  .count-details>p, .star-count>p{
    font-size: 0.7em;
    font-weight: 800;
  }
  .knowMore-button {
    padding: 0.5rem 0.7rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
  }
} */
@media (min-width: 487px) and (max-width: 679px){
  .card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 1.5rem;
    box-shadow: 0px 4px 4px #c8c8c8;
    text-align: center;
    width: 30vw;
    height: 90vh;
  }
  .card-image {
    width: 30vw;
    object-fit: contain;
    height: 30vh;
  }
  .course-card-title, .star-count{
    font-size: 0.85em;
  }
  .count-details>p, .star-count>p{
    font-size: 0.65em;
    font-weight: 800;
  }
  .knowMore-button {
    padding: 0.5rem 0.7rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
  }
}

@media (min-width: 680px) and (max-width: 767px) {
  .card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 1.5rem;
    box-shadow: 0px 4px 4px #c8c8c8;
    text-align: center;
    width: 32vw;
    height: 80vh;
  }
  .card-image {
    width: 30vw;
    object-fit: contain;
    height: 30vh;
  }
  .course-card-title, .star-count{
    font-size: 1em;
  }
  .count-details>p, .star-count>p{
    font-size: 0.65em;
    font-weight: 800;
  }
  .knowMore-button {
    padding: 0.5rem 0.7rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 1.5rem;
    box-shadow: 0px 4px 4px #c8c8c8;
    text-align: center;
    width: 30vw;
    height: 33vh;
  }
  .card-image {
    width: 20vw;
    object-fit: contain;
  }
  .course-card-title, .star-count{
    font-size: 1em;
  }
  .count-details>p, .star-count>p{
    font-size: 0.65em;
    font-weight: 800;
  }
  .knowMore-button {
    padding: 0.5rem 0.7rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
  }
}
@media (min-width:993px) and (max-width: 1024px) {
  .card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 1rem;
    box-shadow: 0px 4px 4px #c8c8c8;
    text-align: center;
    width: 22vw;
    height: 43vh;
  }
  .card-image {
    width: 20vw;
    object-fit: contain;
  }
  .course-card-title, .star-count{
    font-size: 1em;
  }
  .count-details>p, .star-count>p{
    font-size: 0.7em;
    font-weight: 800;
  }
  .knowMore-button {
    padding: 0.5rem 0.7rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
  }
}


