.popular-courses-section{
  position: relative;
}

.popular-programs-section{
  position: relative;
}

.popular-course-container {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 50px;
}

.course-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  overflow: hidden;
  width: 70vw;
  margin: 0 auto;
}

.course-list>h1{
  margin-left: 3vw;
}

.cards-container {
  display: flex;
  transition: transform 0.3s ease-in-out;
  align-items: stretch;
  gap: 1rem;
}

/* .python-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.user-icon {
  width: 20px;
  margin-right: 5px;
}

.star-icon {
  width: 20px;
  margin-right: 5px;
} */

.arrow {
  cursor: pointer;
  font-size: 30px; 
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  z-index: 3;
  top: 60%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.arrow:hover {
  background-color: #ff641e; 
}

.left-arrow {
  left: 8%;
}

.right-arrow {
  right: 8%; 
}


/* .explore-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8vh;
} */

.explore-button {
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 20px;
  background-color: #ff7a01;
  color: #fff;
  border: none;
  font-weight: 600;
  width: 15vw;
}

.explore-card {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  width: 50vw;
}

.explore-card h2 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.explore-card p {
  color: #666;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

/* .explore-button {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 16px;
  background-color: #ff7a01;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.explore-button:hover {
  background-color: #ff641e;
} */

.explore-button svg {
  margin-left: 8px;
}


@media (max-width: 768px) {
  .popular-courses-section {
    display: none;
  }
  
  .course-list {
    width: 80vw;
  }

  .left-arrow {
    left: 4%;
  }
  
  .right-arrow {
    right: 4%; 
  }
  .course-list>h1{
    margin-left: 0vw;
  }
}
