.program-details-hero-section{
    background-color: #f98314;
    padding: 1rem 8rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.program-details-heroLeft{
    max-width: 35vw;
    flex: 1;
}

.program-details-heroRight{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24rem;
    overflow: hidden;
}

.program-details-heroRight > img{
    max-width: 100%;
    /* Set max-height to 100% to make sure the image doesn't overflow its container vertically */
    max-height: 100%;
    /* This will make the image cover the container while maintaining aspect ratio */
    object-fit: cover;
}

.program-details-heroLeft > .text1{
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    width: 16vw;
    padding: 0.5rem 0;
    text-align: center;
    border: solid 1px #fff;
    line-height: 1.5;
}

.program-details-heroLeft > h1{
    color: #fff;
    margin: 0;
}

.yellow-text{
    color: #ffd706;
}

.program-details-heroLeft > .text2{
    font-size: 19px;
    color: #b7bdd3;
    margin-top: 0.5rem;
}

.program-details-heroLeft > .text3{
    font-size: 17px;
    color: #fff;
    margin: 0;
}

.program-details-heroLeft > .text4{
    color: #fff;
}

.program-details-hero-button-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1.5rem;
}

.apply-button{
    font-size: 18px;
    font-weight: 800;
    color: #000;
    padding: 2% 6%;
    background: linear-gradient(135deg, #fdfdfd , #b5b5b5);
    border-radius: 5px;
    border: none;
}

.download-button{
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    background-color: inherit;
    border: solid 1px #fff;
    border-radius: 5px;
    padding: 2% 4%;
}

.mobile{
    display: none;
}



@media screen and (max-width: 480px) {
    .laptop{
        display: none;
    }
    .mobile{
        display: flex;
        flex-direction: column;
    }
    .program-details-hero-section {
        padding: 1rem 1rem 0;
        flex-direction: column; 
        align-items: center; 
    }
    .program-details-heroLeft h1{
        font-size: 1.3em;
        text-align: center;
    }

    .program-details-heroLeft .text1{
        width: 80vw;
        font-size: 0.8em;
    }
    .program-details-heroLeft .text2{
        font-size: 0.93rem;
    }

    .program-details-heroLeft .text3,.text4{
        width: 90vw;
        font-size: 0.9em;
    }

    .program-details-heroLeft {
        max-width: 80vw;
    }

    .program-details-hero-button-container {
        gap: 0.5rem; 
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        align-items: center;
        width: 100vw;
    }

    .apply-button,
    .download-button {
        width: 80%;
    }
}

/* Small Tablets and Large Phones (portrait) */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .laptop{
        display: none;
    }
    .mobile{
        display: flex ;
        flex-direction: column ;
    }
    .program-details-hero-section {
        padding: 1rem 1rem 0;
        flex-direction: column; 
        align-items: center; 
    }
    .program-details-heroLeft h1{
        font-size: 1.3em;
        text-align: center;
    }

    .program-details-heroLeft .text1{
        width: 80vw;
        font-size: 0.8em;
    }
    .program-details-heroLeft .text2{
        font-size: 0.93rem;
    }

    .program-details-heroLeft .text3,.text4{
        width: 90vw;
        font-size: 0.9em;
    }

    .program-details-heroLeft {
        max-width: 80vw;
    }

    .program-details-hero-button-container {
        gap: 0.5rem; 
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
        align-items: center;
        width: 80vw;
    }

    .apply-button,
    .download-button {
        width: 80%;
    }
  }
  
  /* iPads (portrait) */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .program-details-heroLeft>.text1{
        width: 30vw;
    }

    .program-details-heroLeft>h1{
        font-size: 22px;
    }

    .program-details-heroLeft>.text2,.program-details-heroLeft>.text3{
        font-size: 15px;
    }

    .program-details-heroRight>img{
        width: 40vw;
    }

    .program-details-hero-button-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
        width: 30vw;
    }

    .mobile{
        display: none;
    }
  }
