.program-highlights{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.highlights-grid{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 4rem;
    width: 100%;
    margin:  0 auto;
}

.highlight-card{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: solid 2px #ffc187;
    padding: 0 3%;
    gap: 1rem;
}

.highlight-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.highlight-icon{
    font-size: 25px;
    color: #ff7a01;
}

.highlight-details-container{
    display: flex;
    flex-direction: column;
}

.highlight-details-container>p{
    margin-top:1vh;
    margin-bottom: 1vh;
}

.highlight-details-container>h3{
    margin-top : 1vh;
    margin-bottom: 0;
}

@media (max-width: 468px){
    .program-highlights{
        margin-top: 4vh;
    }
    .program-highlights h1{
        font-size: 1.2em;
    }
    .highlights-grid{
        grid-template-columns: repeat(1 , 1fr);
        grid-row-gap: 1em;
    }
    .highlight-card{
        padding: 0 1rem;
        gap: 2rem;
        font-size: 0.9em;
    }
}