/* .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
    padding-bottom: 15vh;
    background: url('../assets/Why\ student\ join\ us\ BG.png') no-repeat;
    background-size: cover;
}

.shining-text {
    font-size: 35px;
    color: #000000;
    margin-bottom: 5vh;
}

.shining-text strong {
    color: #ff7900;
}

.shining-animation {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.shining-animation::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -100%;
    width: 10%;
    height: 110%;
    background: linear-gradient(135deg, transparent 0%, white 100%);
    transform: rotate(-30deg);
    
    animation: shining 1s linear infinite;
}

@keyframes shining {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.joinUs-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 9rem;
    grid-column-gap: 4rem;
    margin-bottom: 5%;
}


@media (max-width: 768px) {
    .center-container {
        padding-bottom: 10vh;
    }

    .shining-text {
        font-size: 25px;
    }

    .shining-animation::before {
        width: 5%;
        height: 105%;
        top: -2.5%;
        animation-duration: 0.5s; 
    }

    .joinUs-section {
        grid-template-columns: 1fr; 
        grid-row-gap: 7rem; 
        grid-column-gap: 2rem; 
    }
}
 */


 .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5vh;
    padding-bottom: 15vh;
    background: url('../assets/Why\ student\ join\ us\ BG.png') no-repeat;
    background-size: cover;
}

.shining-text {
    font-size: 35px;
    color: #000000;
    margin-bottom: 5vh;
}

.shining-text strong {
    color: #ff7900;
}

.shining-animation {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.shining-animation::before {
    content: '';
    position: absolute;
    top: -5%;
    left: -100%;
    width: 10%;
    height: 110%;
    background: linear-gradient(135deg, transparent 0%, white 100%);
    transform: rotate(-30deg);
    /* Adjust slant angle as needed */
    animation: shining 1s linear infinite;
}

@keyframes shining {
    0% {
        left: -100%;
    }

    100% {
        left: 100%;
    }
}

.joinUs-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 9rem;
    grid-column-gap: 4rem;
    margin-bottom: 5%;
}

@media (max-width: 736px) {
    .center-container {
        padding-bottom: 10vh;
    }

    .shining-text {
        font-size: 25px;
    }

    .shining-animation::before {
        width: 5%;
        height: 105%;
        top: -2.5%;
        animation-duration: 0.5s;
    }

    .joinUs-section {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 7rem;
        grid-column-gap: 2rem;
    }
}

@media (min-width:667px) and (max-width:768px){
    .joinUs-section {
        grid-template-columns: repeat(2, 1fr); /* Display two containers in landscape mode */
        grid-row-gap: 9rem;
        grid-column-gap: 4rem;
    }
}

@media(min-width:769px) and (max-width: 1024px) and (orientation: landscape) {
    .joinUs-section {
        grid-template-columns: repeat(3, 1fr); /* Display two containers in landscape mode */
        grid-row-gap: 9rem;
        grid-column-gap: 4rem;
    }
}
